table {
  border-collapse: collapse;
  width: 100%;
}

#table-controls {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

th {
  background-color: #d9dfe0;
}

th, td {
  border: 1px solid black;
  padding: 7.5px;
}

#pager {
  display: block;
  width: 100px;
  margin: 15px auto 15px auto;
  padding: 0;
  overflow-x: auto;
  white-space: nowrap;
}